:root {
    --text-color: #fff;
    --border-top-color:#0FF7F0;
    --border-bottom-color:#D686FF;
    --header-menu-color:rgba(255, 255, 255, 0.16);
    --main-bg-color:rgb(31, 31, 31);
    --black-color:#000;
    --swipper-btn:rgba(0, 0, 0, 0.5);
    --modal-bg-color:rgba(22, 22, 22, 0.5);
    --modal-signin-color:rgba(255, 255, 255, 0.4);
    --modal-signin2-color:rgba(255, 255, 255, 0.02);
    --modal-signin3-color:rgba(255, 255, 255, 0);
    --modal-text-color:rgba(255, 255, 255, 0.6);
    --after-bg-color:#E24D4D;
    --watchlist-modal-color:#1F1F1F;
}