* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea, select {
  outline: none;
  background: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

:root {
  --bg-color: rgb(41, 45, 51);
  --word-color: #fff;
  --btn-color: rgb(238, 138, 2);
  --right-color: black;
}

body {
  background: var(--bg-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body .container {
  max-width: 114rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}
body .container .left {
  width: 40%;
  padding: 5rem 2.5rem;
}
body .container .left .title {
  color: var(--word-color);
  text-align: center;
}
body .container .left .title h1 {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 1.6rem;
}
body .container .left .title p {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
body .container .left form {
  display: flex;
  flex-direction: column;
}
body .container .left form label {
  color: var(--word-color);
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
}
body .container .left form label input {
  color: var(--word-color);
  margin-top: 1rem;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  font-size: 1.6rem;
  border-bottom: 0.2rem solid var(--word-color);
}
body .container .left form label input::-moz-placeholder {
  font-weight: 600;
  letter-spacing: 0.1rem;
}
body .container .left form label input:-ms-input-placeholder {
  font-weight: 600;
  letter-spacing: 0.1rem;
}
body .container .left form label input::placeholder {
  font-weight: 600;
  letter-spacing: 0.1rem;
}
body .container .left form label textarea {
  width: 100%;
  height: 12rem;
  color: var(--word-color);
  padding: 1rem;
  font-size: 1.6rem;
  border-bottom: 0.2rem solid var(--word-color);
  resize: none;
}
body .container .left form button {
  width: 100%;
  height: 5rem;
  font-size: 1.5rem;
  background: var(--btn-color);
  color: var(--word-color);
  border-radius: 1rem;
  letter-spacing: 0.2rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s;
}
body .container .left form button:hover {
  background: var(--word-color);
  color: var(--btn-color);
}
body .container .left form + p {
  text-align: center;
  color: var(--word-color);
  font-size: 1.4rem;
  font-style: italic;
}
body .container .left form + p a {
  position: relative;
}
body .container .left form + p a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.1rem;
  background: var(--word-color);
  bottom: -0.5rem;
  left: 0;
}
body .container .left form + p a:hover {
  color: rgba(255, 255, 255, 0.7);
}
body .container .left form + p a:hover::after {
  background: var(--btn-color);
}
body .container .right {
  width: 60%;
  min-height: 100vh;
  background-color: var(--word-color);
  padding: 5rem 3rem;
}
body .container .right .title {
  color: var(--right-color);
  text-align: center;
}
body .container .right .title h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}
body .container .right .title p {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
body .container .right .img img {
  width: 100%;
  height: 40rem;
}
body .container .right .card-container {
  width: 100%;
  display: flex;
  padding: 1.5rem;
}
body .container .right .card-container .card h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
body .container .right .card-container .card p {
  font-size: 1.4rem;
}

@media only screen and (max-width: 1040px) {
  body .container {
    max-width: 104rem;
    min-height: 100vh;
  }
  body .container .left {
    width: 40%;
    padding: 5rem 5rem;
  }
  body .container .left .title h1 {
    font-size: 2.8rem;
    margin-bottom: 1.4rem;
  }
  body .container .left .title p {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
  }
  body .container .left form label {
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
  }
  body .container .left form label input {
    margin-top: 1rem;
    font-size: 1.6rem;
  }
  body .container .left form label input::-moz-placeholder {
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
  body .container .left form label input:-ms-input-placeholder {
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
  body .container .left form label input::placeholder {
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
  body .container .left form label textarea {
    width: 100%;
    height: 11rem;
    padding: 1rem;
    font-size: 1.6rem;
  }
  body .container .left form button {
    width: 100%;
    height: 4.5rem;
    font-size: 1.3rem;
    margin-bottom: 3.5rem;
  }
  body .container .left form + p {
    font-size: 1.3rem;
  }
  body .container .right {
    width: 60%;
    min-height: 100vh;
    padding: 5rem 3rem;
  }
  body .container .right .title {
    text-align: center;
  }
  body .container .right .title h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.6rem;
  }
  body .container .right .title p {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
  }
  body .container .right .card-container {
    padding: 1.5rem;
  }
  body .container .right .card-container .card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  body .container .right .card-container .card p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 820px) {
  body .container {
    max-width: 114rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .container .left {
    width: 100%;
    padding: 5rem 8rem;
  }
  body .container .left .title h1 {
    font-size: 3.5rem;
    margin-bottom: 1.8rem;
  }
  body .container .left .title p {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
  }
  body .container .left form label {
    font-size: 1.6rem;
    margin-bottom: 2.8rem;
  }
  body .container .left form label input {
    margin-top: 1rem;
    height: 4rem;
    padding: 1rem;
    font-size: 1.6rem;
  }
  body .container .left form button {
    height: 5rem;
    font-size: 1.5rem;
  }
  body .container .left form + p {
    font-size: 1.4rem;
  }
  body .container .left form + p a {
    position: relative;
  }
  body .container .left form + p a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.1rem;
    background: var(--word-color);
    bottom: -0.5rem;
    left: 0;
  }
  body .container .left form + p a:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  body .container .left form + p a:hover::after {
    background: var(--btn-color);
  }
  body .container .right {
    width: 85%;
    padding: 5rem 3rem;
  }
  body .container .right .title h1 {
    font-size: 4rem;
    margin-bottom: 1.6rem;
  }
  body .container .right .title p {
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }
  body .container .right .img img {
    width: 100%;
    height: 40rem;
  }
  body .container .right .card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
  }
  body .container .right .card-container .card {
    width: 50%;
    padding: 1rem;
  }
  body .container .right .card-container .card h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  body .container .right .card-container .card p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 640px) {
  body .container .right .title h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
  }
  body .container .right .title p {
    font-size: 2.5rem;
    margin-bottom: 0.1rem;
  }
  body .container .right .img img {
    width: 100%;
    height: 25rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
  body .container .right .card-container {
    padding: 1rem;
  }
  body .container .right .card-container .card {
    padding: 1rem;
  }
  body .container .right .card-container .card h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  body .container .right .card-container .card p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 440px) {
  body .container .right {
    width: 85%;
    padding: 3rem 3rem;
  }
  body .container .right .title h1 {
    font-size: 4rem;
    margin-bottom: 1.6rem;
  }
  body .container .right .title p {
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }
  body .container .right .img img {
    width: 100%;
    height: 25rem;
  }
  body .container .right .card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
  }
  body .container .right .card-container .card {
    width: 100%;
    padding: 0.5rem;
  }
  body .container .right .card-container .card h3 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
  body .container .right .card-container .card p {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */